# Numpy

In [1]:
import numpy as np

In [2]:
# matriz
a=np.random.random((10,4))
a

array([[0.01733484, 0.87489855, 0.66409092, 0.08008466],
       [0.38574169, 0.85367326, 0.55649259, 0.11081625],
       [0.18910638, 0.21608436, 0.47976771, 0.54687445],
       [0.13002704, 0.97636184, 0.33887282, 0.22873085],
       [0.75652062, 0.27855374, 0.068987  , 0.31648942],
       [0.47703189, 0.41319131, 0.94953295, 0.28593424],
       [0.82566561, 0.07674766, 0.54446454, 0.19239926],
       [0.35370038, 0.47614875, 0.15385181, 0.79406025],
       [0.16727522, 0.50411282, 0.64836588, 0.1742123 ],
       [0.31731437, 0.39769779, 0.0334028 , 0.52873753]])

In [3]:
a.size

40

In [4]:
a.shape

(10, 4)

In [5]:
# cubo
b=np.random.random((5,3,2))
b

array([[[0.8180361 , 0.45600498],
        [0.04471126, 0.34612086],
        [0.30714511, 0.44638296]],

       [[0.21723355, 0.14495298],
        [0.1534135 , 0.57836215],
        [0.68645639, 0.08419984]],

       [[0.95556353, 0.72185678],
        [0.35789369, 0.59625938],
        [0.6629485 , 0.25928965]],

       [[0.946139  , 0.16530205],
        [0.54314783, 0.46087273],
        [0.79653774, 0.15828406]],

       [[0.09042659, 0.42157672],
        [0.29883988, 0.25327702],
        [0.65605426, 0.26425126]]])

In [7]:
# tensor rango 4
c=np.random.random((2,3,4,5))
c.shape

(2, 3, 4, 5)

In [9]:
type(a[0])

numpy.ndarray

In [11]:
a

array([[0.01733484, 0.87489855, 0.66409092, 0.08008466],
       [0.38574169, 0.85367326, 0.55649259, 0.11081625],
       [0.18910638, 0.21608436, 0.47976771, 0.54687445],
       [0.13002704, 0.97636184, 0.33887282, 0.22873085],
       [0.75652062, 0.27855374, 0.068987  , 0.31648942],
       [0.47703189, 0.41319131, 0.94953295, 0.28593424],
       [0.82566561, 0.07674766, 0.54446454, 0.19239926],
       [0.35370038, 0.47614875, 0.15385181, 0.79406025],
       [0.16727522, 0.50411282, 0.64836588, 0.1742123 ],
       [0.31731437, 0.39769779, 0.0334028 , 0.52873753]])

In [10]:
a[:, 0]

array([0.01733484, 0.38574169, 0.18910638, 0.13002704, 0.75652062,
       0.47703189, 0.82566561, 0.35370038, 0.16727522, 0.31731437])

In [12]:
a[4,2]

0.06898700300815497

In [13]:
c[0]

array([[[0.89390951, 0.31186455, 0.47982635, 0.98359641, 0.79125905],
        [0.91623549, 0.39573239, 0.81433373, 0.91374181, 0.81585122],
        [0.75451558, 0.58885519, 0.64667176, 0.65330878, 0.69278229],
        [0.09356   , 0.41268999, 0.12248687, 0.6972889 , 0.87776445]],

       [[0.9564918 , 0.31607421, 0.96360239, 0.61695367, 0.32771823],
        [0.32110885, 0.59432915, 0.1093376 , 0.92344875, 0.50796882],
        [0.9426791 , 0.89869711, 0.39673523, 0.27731114, 0.57287862],
        [0.58081385, 0.33051236, 0.52592781, 0.00888726, 0.77023635]],

       [[0.43365704, 0.0688031 , 0.2894688 , 0.64358397, 0.45596058],
        [0.183023  , 0.82854817, 0.67222816, 0.78330057, 0.73464812],
        [0.39258773, 0.71910277, 0.59520887, 0.27487641, 0.50985739],
        [0.48353033, 0.67787299, 0.59794252, 0.03005514, 0.45791013]]])

In [14]:
c[0, 1]

array([[0.9564918 , 0.31607421, 0.96360239, 0.61695367, 0.32771823],
       [0.32110885, 0.59432915, 0.1093376 , 0.92344875, 0.50796882],
       [0.9426791 , 0.89869711, 0.39673523, 0.27731114, 0.57287862],
       [0.58081385, 0.33051236, 0.52592781, 0.00888726, 0.77023635]])

In [15]:
c[0, 1, 1]

array([0.32110885, 0.59432915, 0.1093376 , 0.92344875, 0.50796882])

In [16]:
c[0, 1, 1, 0]

0.32110885294305835

In [17]:
c[0, 1, :, 0]

array([0.9564918 , 0.32110885, 0.9426791 , 0.58081385])

In [23]:
# de listas a arrays
lst_lst=[[1,2,3], [4,5,6], [7,8,9]]
d=np.array(lst_lst)
d.shape

(3, 3)

In [25]:
a

array([[0.01733484, 0.87489855, 0.66409092, 0.08008466],
       [0.38574169, 0.85367326, 0.55649259, 0.11081625],
       [0.18910638, 0.21608436, 0.47976771, 0.54687445],
       [0.13002704, 0.97636184, 0.33887282, 0.22873085],
       [0.75652062, 0.27855374, 0.068987  , 0.31648942],
       [0.47703189, 0.41319131, 0.94953295, 0.28593424],
       [0.82566561, 0.07674766, 0.54446454, 0.19239926],
       [0.35370038, 0.47614875, 0.15385181, 0.79406025],
       [0.16727522, 0.50411282, 0.64836588, 0.1742123 ],
       [0.31731437, 0.39769779, 0.0334028 , 0.52873753]])

In [24]:
# funciones matematicas
np.sum(a)

16.383356352932523

In [31]:
s=np.sum(a, axis=0)
np.sum(s, axis=0)

16.383356352932523

In [26]:
np.sum(a, axis=0)

array([3.61971805, 5.06747007, 4.43782903, 3.2583392 ])

In [27]:
np.sum(a, axis=1)

array([1.63640898, 1.9067238 , 1.43183291, 1.67399255, 1.42055077,
       2.12569039, 1.63927706, 1.77776119, 1.49396622, 1.27715249])

In [28]:
np.sum(a, axis=2)

AxisError: axis 2 is out of bounds for array of dimension 2

In [32]:
b

array([[[0.8180361 , 0.45600498],
        [0.04471126, 0.34612086],
        [0.30714511, 0.44638296]],

       [[0.21723355, 0.14495298],
        [0.1534135 , 0.57836215],
        [0.68645639, 0.08419984]],

       [[0.95556353, 0.72185678],
        [0.35789369, 0.59625938],
        [0.6629485 , 0.25928965]],

       [[0.946139  , 0.16530205],
        [0.54314783, 0.46087273],
        [0.79653774, 0.15828406]],

       [[0.09042659, 0.42157672],
        [0.29883988, 0.25327702],
        [0.65605426, 0.26425126]]])

In [33]:
np.sum(b[:2])

4.283019681095566

In [34]:
np.mean(a)

0.4095839088233131

In [35]:
np.mean(a, axis=0)

array([0.3619718 , 0.50674701, 0.4437829 , 0.32583392])

In [36]:
np.mean(a, axis=1)

array([0.40910224, 0.47668095, 0.35795823, 0.41849814, 0.35513769,
       0.5314226 , 0.40981927, 0.4444403 , 0.37349155, 0.31928812])

In [37]:
np.add(a[0], a[1])

array([0.40307653, 1.72857181, 1.22058352, 0.19090091])

In [38]:
np.add(b[0], b[1])

array([[1.03526965, 0.60095796],
       [0.19812476, 0.92448301],
       [0.9936015 , 0.5305828 ]])

In [39]:
np.subtract(a[0], a[1])

array([-0.36840685,  0.02122529,  0.10759833, -0.03073158])

In [40]:
np.multiply(a[0], a[1])

array([0.00668677, 0.7468775 , 0.36956168, 0.00887468])

In [42]:
np.std(a, axis=0)

array([0.2503816 , 0.28626482, 0.27825493, 0.21628505])

In [43]:
np.std(a, axis=1)

array([0.36868676, 0.26954593, 0.15745319, 0.3304464 , 0.25017457,
       0.25100687, 0.29549352, 0.23233324, 0.20907846, 0.18148791])

In [44]:
np.cumsum(a)

array([ 0.01733484,  0.89223339,  1.55632431,  1.63640898,  2.02215067,
        2.87582393,  3.43231652,  3.54313277,  3.73223916,  3.94832352,
        4.42809123,  4.97496568,  5.10499272,  6.08135456,  6.42022738,
        6.64895823,  7.40547884,  7.68403258,  7.75301959,  8.069509  ,
        8.54654089,  8.9597322 ,  9.90926515, 10.19519939, 11.020865  ,
       11.09761266, 11.6420772 , 11.83447646, 12.18817684, 12.66432559,
       12.81817739, 13.61223764, 13.77951287, 14.28362568, 14.93199156,
       15.10620386, 15.42351823, 15.82121602, 15.85461882, 16.38335635])

In [46]:
np.cumprod(a)

array([1.73348381e-02, 1.51662248e-02, 1.00717522e-02, 8.06592893e-04,
       3.11136508e-04, 2.65608917e-04, 1.47809395e-04, 1.63796828e-05,
       3.09750260e-06, 6.69321874e-07, 3.21119026e-07, 1.75611789e-07,
       2.28342813e-08, 2.22945208e-08, 7.55500711e-09, 1.72806320e-09,
       1.30731544e-09, 3.64157604e-10, 2.51221417e-11, 7.95089197e-12,
       3.79282904e-12, 1.56716398e-12, 1.48807384e-12, 4.25491265e-13,
       3.51313505e-13, 2.69624885e-14, 1.46801189e-14, 2.82444396e-15,
       9.99006911e-16, 4.75675891e-16, 7.31835950e-17, 5.81121838e-17,
       9.72072841e-18, 4.90034380e-18, 3.17721572e-18, 5.53510043e-19,
       1.75636690e-19, 6.98503238e-20, 2.33319669e-21, 1.23364865e-21])

In [49]:
b.flatten()

array([0.8180361 , 0.45600498, 0.04471126, 0.34612086, 0.30714511,
       0.44638296, 0.21723355, 0.14495298, 0.1534135 , 0.57836215,
       0.68645639, 0.08419984, 0.95556353, 0.72185678, 0.35789369,
       0.59625938, 0.6629485 , 0.25928965, 0.946139  , 0.16530205,
       0.54314783, 0.46087273, 0.79653774, 0.15828406, 0.09042659,
       0.42157672, 0.29883988, 0.25327702, 0.65605426, 0.26425126])

In [53]:
b.max()

0.955563528278025

In [54]:
b.min()

0.0447112597482312

In [55]:
b.shape

(5, 3, 2)

In [60]:
b.reshape((1,1,2,1,1,15))

array([[[[[[0.8180361 , 0.45600498, 0.04471126, 0.34612086,
            0.30714511, 0.44638296, 0.21723355, 0.14495298,
            0.1534135 , 0.57836215, 0.68645639, 0.08419984,
            0.95556353, 0.72185678, 0.35789369]]],


         [[[0.59625938, 0.6629485 , 0.25928965, 0.946139  ,
            0.16530205, 0.54314783, 0.46087273, 0.79653774,
            0.15828406, 0.09042659, 0.42157672, 0.29883988,
            0.25327702, 0.65605426, 0.26425126]]]]]])

In [62]:
type(a.tolist())

list

In [64]:
a.transpose()

array([[0.01733484, 0.38574169, 0.18910638, 0.13002704, 0.75652062,
        0.47703189, 0.82566561, 0.35370038, 0.16727522, 0.31731437],
       [0.87489855, 0.85367326, 0.21608436, 0.97636184, 0.27855374,
        0.41319131, 0.07674766, 0.47614875, 0.50411282, 0.39769779],
       [0.66409092, 0.55649259, 0.47976771, 0.33887282, 0.068987  ,
        0.94953295, 0.54446454, 0.15385181, 0.64836588, 0.0334028 ],
       [0.08008466, 0.11081625, 0.54687445, 0.22873085, 0.31648942,
        0.28593424, 0.19239926, 0.79406025, 0.1742123 , 0.52873753]])

In [65]:
a.T

array([[0.01733484, 0.38574169, 0.18910638, 0.13002704, 0.75652062,
        0.47703189, 0.82566561, 0.35370038, 0.16727522, 0.31731437],
       [0.87489855, 0.85367326, 0.21608436, 0.97636184, 0.27855374,
        0.41319131, 0.07674766, 0.47614875, 0.50411282, 0.39769779],
       [0.66409092, 0.55649259, 0.47976771, 0.33887282, 0.068987  ,
        0.94953295, 0.54446454, 0.15385181, 0.64836588, 0.0334028 ],
       [0.08008466, 0.11081625, 0.54687445, 0.22873085, 0.31648942,
        0.28593424, 0.19239926, 0.79406025, 0.1742123 , 0.52873753]])

In [67]:
np.dot(a[0], a[0].T)

1.2131782781955387

In [70]:
np.matmul(a, a.T)

array([[1.21317828, 1.13200063, 0.55473566, 1.09983175, 0.32798002,
        1.02324491, 0.45844138, 0.58847683, 0.88847289, 0.41797208],
       [1.13200063, 1.19951894, 0.58500141, 1.09757815, 0.60307835,
        1.09683568, 0.70832252, 0.71652461, 0.87498902, 0.53908648],
       [0.55473566, 0.58500141, 0.6117024 , 0.52323276, 0.4094317 ,
        0.79141934, 0.53915735, 0.67783969, 0.54690098, 0.45112108],
       [1.09983175, 1.09757815, 0.52323276, 1.13734206, 0.46610609,
        0.85262416, 0.41080422, 0.74464635, 0.77350812, 0.56181428],
       [0.32798002, 0.60307835, 0.4094317 , 0.46610609, 0.75484039,
        0.63198104, 0.74446471, 0.66214009, 0.36683483, 0.52047926],
       [1.02324491, 1.09683568, 0.79141934, 0.85262416, 0.63198104,
        1.3816577 , 0.99758085, 0.73860326, 0.95354868, 0.49859557],
       [0.45844138, 0.70832252, 0.53915735, 0.41080422, 0.74446471,
        0.99758085, 1.02107301, 0.565125  , 0.56333342, 0.41243329],
       [0.58847683, 0.71652461, 0.67783969, 0.74464635, 0.66214009,
        0.73860326, 0.565125  , 1.00602365, 0.53728532, 0.72658606],
       [0.88847289, 0.87498902, 0.54690098, 0.77350812, 0.36683483,
        0.95354868, 0.56333342, 0.53728532, 0.73283897, 0.3673332 ],
       [0.41797208, 0.53908648, 0.45112108, 0.56181428, 0.52047926,
        0.49859557, 0.41243329, 0.72658606, 0.3673332 , 0.53953106]])

In [73]:
a.var()**0.5

0.2686702121380383

In [74]:
a.std()

0.2686702121380383

In [79]:
a[:4, :].shape

(4, 4)

In [80]:
np.linalg.det(a[:4, :])

-0.07688120645073505

In [81]:
# https://docs.scipy.org/doc/numpy/reference/ufuncs.html

In [84]:
np.inf

inf

# Pandas

In [85]:
import pandas as pd

In [97]:
a=pd.Series(np.random.random(10))
a.tail(2)

8    0.322126
9    0.801951
dtype: float64

In [99]:
a.index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
a

a    0.625018
b    0.574278
c    0.133395
d    0.063605
e    0.329031
f    0.617926
g    0.695824
h    0.924277
i    0.322126
j    0.801951
dtype: float64

In [103]:
a.loc['b']

0.5742777569427866

In [112]:
columnas=['col1', 'col 2', 'col3', 'col4', 'col5']
df=pd.DataFrame(np.random.random((10,5)), columns=columnas)
print (df)

       col1     col 2      col3      col4      col5
0  0.623597  0.727936  0.515448  0.782124  0.537512
1  0.443783  0.521104  0.044237  0.555116  0.417890
2  0.093525  0.844919  0.427593  0.839159  0.646522
3  0.322583  0.844426  0.473474  0.648880  0.262202
4  0.585593  0.489526  0.861983  0.996620  0.044703
5  0.169637  0.553899  0.837948  0.215745  0.141294
6  0.913108  0.609417  0.397358  0.312517  0.338785
7  0.982154  0.619661  0.934642  0.771665  0.113030
8  0.790868  0.091626  0.064121  0.547573  0.165864
9  0.260931  0.312227  0.345125  0.147600  0.863884

In [113]:
df['col 2']

0    0.727936
1    0.521104
2    0.844919
3    0.844426
4    0.489526
5    0.553899
6    0.609417
7    0.619661
8    0.091626
9    0.312227
Name: col 2, dtype: float64

In [117]:
df.col1

0    0.623597
1    0.443783
2    0.093525
3    0.322583
4    0.585593
5    0.169637
6    0.913108
7    0.982154
8    0.790868
9    0.260931
Name: col1, dtype: float64

In [118]:
df[['col1', 'col3']]

       col1      col3
0  0.623597  0.515448
1  0.443783  0.044237
2  0.093525  0.427593
3  0.322583  0.473474
4  0.585593  0.861983
5  0.169637  0.837948
6  0.913108  0.397358
7  0.982154  0.934642
8  0.790868  0.064121
9  0.260931  0.345125

In [119]:
df['col10']=df.col1*df.col3-df.col4
df

       col1     col 2      col3      col4      col5     col10
0  0.623597  0.727936  0.515448  0.782124  0.537512 -0.460692
1  0.443783  0.521104  0.044237  0.555116  0.417890 -0.535484
2  0.093525  0.844919  0.427593  0.839159  0.646522 -0.799168
3  0.322583  0.844426  0.473474  0.648880  0.262202 -0.496145
4  0.585593  0.489526  0.861983  0.996620  0.044703 -0.491848
5  0.169637  0.553899  0.837948  0.215745  0.141294 -0.073598
6  0.913108  0.609417  0.397358  0.312517  0.338785  0.050314
7  0.982154  0.619661  0.934642  0.771665  0.113030  0.146298
8  0.790868  0.091626  0.064121  0.547573  0.165864 -0.496862
9  0.260931  0.312227  0.345125  0.147600  0.863884 -0.057546

In [120]:
df.col10=df.col1/df.col3-df.col4
df

       col1     col 2      col3      col4      col5      col10
0  0.623597  0.727936  0.515448  0.782124  0.537512   0.427691
1  0.443783  0.521104  0.044237  0.555116  0.417890   9.476867
2  0.093525  0.844919  0.427593  0.839159  0.646522  -0.620434
3  0.322583  0.844426  0.473474  0.648880  0.262202   0.032431
4  0.585593  0.489526  0.861983  0.996620  0.044703  -0.317264
5  0.169637  0.553899  0.837948  0.215745  0.141294  -0.013302
6  0.913108  0.609417  0.397358  0.312517  0.338785   1.985431
7  0.982154  0.619661  0.934642  0.771665  0.113030   0.279170
8  0.790868  0.091626  0.064121  0.547573  0.165864  11.786453
9  0.260931  0.312227  0.345125  0.147600  0.863884   0.608447

In [132]:
lst=[9280, 239489032, 239840, 293487,9280, 239489032, 239840, 293487, None, None]
price_df=pd.DataFrame(lst, columns=['Price'])
price_df

         Price
0       9280.0
1  239489032.0
2     239840.0
3     293487.0
4       9280.0
5  239489032.0
6     239840.0
7     293487.0
8          NaN
9          NaN

In [133]:
df['lista']=lst
df

       col1     col 2      col3      col4      col5      col10        lista
0  0.623597  0.727936  0.515448  0.782124  0.537512   0.427691       9280.0
1  0.443783  0.521104  0.044237  0.555116  0.417890   9.476867  239489032.0
2  0.093525  0.844919  0.427593  0.839159  0.646522  -0.620434     239840.0
3  0.322583  0.844426  0.473474  0.648880  0.262202   0.032431     293487.0
4  0.585593  0.489526  0.861983  0.996620  0.044703  -0.317264       9280.0
5  0.169637  0.553899  0.837948  0.215745  0.141294  -0.013302  239489032.0
6  0.913108  0.609417  0.397358  0.312517  0.338785   1.985431     239840.0
7  0.982154  0.619661  0.934642  0.771665  0.113030   0.279170     293487.0
8  0.790868  0.091626  0.064121  0.547573  0.165864  11.786453          NaN
9  0.260931  0.312227  0.345125  0.147600  0.863884   0.608447          NaN

In [134]:
df.dtypes

col1     float64
col 2    float64
col3     float64
col4     float64
col5     float64
col10    float64
lista    float64
dtype: object

In [136]:
df.fillna('hola')

       col1     col 2      col3      col4      col5      col10        lista
0  0.623597  0.727936  0.515448  0.782124  0.537512   0.427691         9280
1  0.443783  0.521104  0.044237  0.555116  0.417890   9.476867  2.39489e+08
2  0.093525  0.844919  0.427593  0.839159  0.646522  -0.620434       239840
3  0.322583  0.844426  0.473474  0.648880  0.262202   0.032431       293487
4  0.585593  0.489526  0.861983  0.996620  0.044703  -0.317264         9280
5  0.169637  0.553899  0.837948  0.215745  0.141294  -0.013302  2.39489e+08
6  0.913108  0.609417  0.397358  0.312517  0.338785   1.985431       239840
7  0.982154  0.619661  0.934642  0.771665  0.113030   0.279170       293487
8  0.790868  0.091626  0.064121  0.547573  0.165864  11.786453         hola
9  0.260931  0.312227  0.345125  0.147600  0.863884   0.608447         hola

In [139]:
lst_lst=[[8456, 'Roma N', 2003, 7, 20400],
         [84564, 'Roma S', 2013, 9, 2400],
         [83216, 'Juarez', 2005, 6, 200],
         [234556, 'Condesa', 2008, 10, 400]]

columnas=['lote', 'barrio', 'año', 'n', 'P']

df2=pd.DataFrame(lst_lst, columns=columnas)
df2

     lote   barrio   año   n      P
0    8456   Roma N  2003   7  20400
1   84564   Roma S  2013   9   2400
2   83216   Juarez  2005   6    200
3  234556  Condesa  2008  10    400

In [140]:
dictio={'CasaA':lst_lst[0],'CasaB':lst_lst[1],'CasaC':lst_lst[2]}

pd.DataFrame(dictio)

    CasaA   CasaB   CasaC
0    8456   84564   83216
1  Roma N  Roma S  Juarez
2    2003    2013    2005
3       7       9       6
4   20400    2400     200

In [142]:
df.fillna(0, inplace=True)
#df=df.fillna(0)

In [143]:
df

       col1     col 2      col3      col4      col5      col10        lista
0  0.623597  0.727936  0.515448  0.782124  0.537512   0.427691       9280.0
1  0.443783  0.521104  0.044237  0.555116  0.417890   9.476867  239489032.0
2  0.093525  0.844919  0.427593  0.839159  0.646522  -0.620434     239840.0
3  0.322583  0.844426  0.473474  0.648880  0.262202   0.032431     293487.0
4  0.585593  0.489526  0.861983  0.996620  0.044703  -0.317264       9280.0
5  0.169637  0.553899  0.837948  0.215745  0.141294  -0.013302  239489032.0
6  0.913108  0.609417  0.397358  0.312517  0.338785   1.985431     239840.0
7  0.982154  0.619661  0.934642  0.771665  0.113030   0.279170     293487.0
8  0.790868  0.091626  0.064121  0.547573  0.165864  11.786453          0.0
9  0.260931  0.312227  0.345125  0.147600  0.863884   0.608447          0.0

In [144]:
df.T

,0,1,2,3,4,5,6,7,8,9
col1,0.623597,4.437834e-01,0.093525,0.322583,0.585593,1.696372e-01,0.913108,0.982154,0.790868,0.260931
col 2,0.727936,5.211035e-01,0.844919,0.844426,0.489526,5.538992e-01,0.609417,0.619661,0.091626,0.312227
col3,0.515448,4.423686e-02,0.427593,0.473474,0.861983,8.379481e-01,0.397358,0.934642,0.064121,0.345125
col4,0.782124,5.551157e-01,0.839159,0.648880,0.996620,2.157452e-01,0.312517,0.771665,0.547573,0.147600
col5,0.537512,4.178896e-01,0.646522,0.262202,0.044703,1.412938e-01,0.338785,0.113030,0.165864,0.863884
col10,0.427691,9.476867e+00,-0.620434,0.032431,-0.317264,-1.330165e-02,1.985431,0.279170,11.786453,0.608447
lista,9280.000000,2.394890e+08,239840.000000,293487.000000,9280.000000,2.394890e+08,239840.000000,293487.000000,0.000000,0.000000

In [145]:
df.sum()

col1     5.185780e+00
col 2    5.614741e+00
col3     4.901929e+00
col4     5.816998e+00
col5     3.531685e+00
col10    2.364549e+01
lista    4.800633e+08
dtype: float64

In [146]:
df.max()

col1     9.821544e-01
col 2    8.449193e-01
col3     9.346418e-01
col4     9.966200e-01
col5     8.638837e-01
col10    1.178645e+01
lista    2.394890e+08
dtype: float64

In [149]:
df.min(axis=1)

0    0.427691
1    0.044237
2   -0.620434
3    0.032431
4   -0.317264
5   -0.013302
6    0.312517
7    0.113030
8    0.000000
9    0.000000
dtype: float64

In [150]:
pd.read_csv('data/ads_hour.csv')

                Date     ads
0        8/3/17 0:00   49136
1        8/3/17 1:00   46450
2        8/3/17 2:00   46355
3        8/3/17 3:00   43748
4        8/3/17 4:00   42281
...              ...     ...
2080  10/28/17 16:00  111837
2081  10/28/17 17:00  119322
2082  10/28/17 18:00  124567
2083  10/28/17 19:00  125366
2084  10/28/17 20:00  126644

[2085 rows x 2 columns]

In [152]:
exc=pd.ExcelFile('data/alumnos_export.xlsx')

In [ ]:
# pd.read_excel(exc, 'sheet')

In [153]:
pd.read_excel('data/alumnos_export.xlsx')

   Unnamed: 0 Nombre  Edad
0           0   Pepe    10
1           1   Juan    20
2           2   Luis    25
3           3   Fran  15xº

In [154]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
col1     10 non-null float64
col 2    10 non-null float64
col3     10 non-null float64
col4     10 non-null float64
col5     10 non-null float64
col10    10 non-null float64
lista    10 non-null float64
dtypes: float64(7)
memory usage: 688.0 bytes

In [155]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
col1     10 non-null float64
col 2    10 non-null float64
col3     10 non-null float64
col4     10 non-null float64
col5     10 non-null float64
col10    10 non-null float64
lista    10 non-null float64
dtypes: float64(7)
memory usage: 688.0 bytes

In [157]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
col1,10.0,5.185780e-01,3.114552e-01,0.093525,0.276344,0.514688,0.749051,9.821544e-01
col 2,10.0,5.614741e-01,2.317906e-01,0.091626,0.497420,0.581658,0.700868,8.449193e-01
col3,10.0,4.901929e-01,3.112002e-01,0.044237,0.358183,0.450533,0.757323,9.346418e-01
col4,10.0,5.816998e-01,2.820381e-01,0.147600,0.371281,0.601998,0.779509,9.966200e-01
col5,10.0,3.531685e-01,2.638037e-01,0.044703,0.147436,0.300493,0.507607,8.638837e-01
col10,10.0,2.364549e+00,4.445727e+00,-0.620434,-0.001868,0.353430,1.641185,1.178645e+01
lista,10.0,4.800633e+07,1.009203e+08,0.000000,9280.000000,239840.000000,293487.000000,2.394890e+08

In [159]:
df.describe().T.reset_index()

,index,count,mean,std,min,25%,50%,75%,max
0,col1,10.0,5.185780e-01,3.114552e-01,0.093525,0.276344,0.514688,0.749051,9.821544e-01
1,col 2,10.0,5.614741e-01,2.317906e-01,0.091626,0.497420,0.581658,0.700868,8.449193e-01
2,col3,10.0,4.901929e-01,3.112002e-01,0.044237,0.358183,0.450533,0.757323,9.346418e-01
3,col4,10.0,5.816998e-01,2.820381e-01,0.147600,0.371281,0.601998,0.779509,9.966200e-01
4,col5,10.0,3.531685e-01,2.638037e-01,0.044703,0.147436,0.300493,0.507607,8.638837e-01
5,col10,10.0,2.364549e+00,4.445727e+00,-0.620434,-0.001868,0.353430,1.641185,1.178645e+01
6,lista,10.0,4.800633e+07,1.009203e+08,0.000000,9280.000000,239840.000000,293487.000000,2.394890e+08

In [161]:
df.describe().T.index=range(len(df.describe().T))

In [162]:
df2._get_numeric_data()

     lote   año   n      P
0    8456  2003   7  20400
1   84564  2013   9   2400
2   83216  2005   6    200
3  234556  2008  10    400

In [164]:
type(df.values)

numpy.ndarray

In [165]:
# https://pandas.pydata.org/pandas-docs/version/0.15.2/tutorials.html