In [1]:
import pandas as pd
import sqlalchemy as db
import getpass

In [2]:
password=getpass.getpass('Introduce el pass de SQL...')

Introduce el pass de SQL...········

In [3]:
engine=db.create_engine('mysql+pymysql://root:{}@localhost/publications'.format(password))
print ('Conectado..')

Conectado..

In [4]:
query='''select group_concat(t.title) as titles,
         t.year 
         from (select title, year(max(pubdate)) as 'year',
         count(titleauthor.title_id) as numauthors,
         group_concat(concat(authors.au_fname, ' ', authors.au_lname)) as authors
         from titles 
         left join titleauthor
         on titles.title_id=titleauthor.title_id
         left join authors 
         on authors.au_id=titleauthor.au_id
         group by titles.title
         order by numauthors desc) as t
         group by t.year;
'''

In [5]:
df=pd.read_sql_query(query, engine)
df

                                              titles  year
0  Is Anger the Enemy?,Straight Talk About Comput...  1991
1                          Secrets of Silicon Valley  1994
2   Net Etiquette,The Psychology of Computer Cooking  2014

In [6]:
a=df.titles[0]
a.split(',')

['Is Anger the Enemy?',
 'Straight Talk About Computers',
 "The Busy Executive's Database Guide",
 'Life Without Fear',
 'The Gourmet Microwave',
 'Prolonged Data Deprivation: Four Case Studies',
 'But Is It User Friendly?',
 'Sushi',
 ' Anyone?',
 'You Can Combat Computer Stress!',
 'Onions',
 ' Leeks',
 ' and Garlic: Cooking Secrets of the Mediterranean',
 'Computer Phobic AND Non-Phobic Individuals: Behavior Variations',
 'Emotional Security: A New Algorithm',
 'Cooking with Computers: Surreptitious Balance Sheets',
 'Silicon Valley Gastronomic Treats',
 'Fifty Years in Buckingham Palace Kitchens']

In [13]:
%time pd.read_sql_query('select * from publications.employee;', engine)['job_id'].sum()

CPU times: user 4.32 ms, sys: 1.19 ms, total: 5.51 ms
Wall time: 4.54 ms

365

In [14]:
%time pd.read_sql_query('select sum(job_id) as j from publications.employee;', engine)['j'][0]

CPU times: user 1.6 ms, sys: 958 µs, total: 2.56 ms
Wall time: 1.81 ms

365.0