# Intro Python

In [1]:
a=max
a([12,48,90])

90

In [2]:
# cosas basicas

print (3+4)

7

In [3]:
print (3-4)

-1

In [4]:
print (3*4)

12

In [5]:
print (3/4)

0.75

In [6]:
print (3**4)

81

In [7]:
print (4%2==0)

True

In [8]:
# listas

lst=[10,24,3,4,65,6,722,8,9]

In [9]:
for e in lst:
    print (e)

10
24
3
4
65
6
722
8
9

In [10]:
for e in lst:
    if e%2==0:
        print (e)

10
24
4
6
722
8

In [11]:
for i in range(len(lst)):
    print (i)

0
1
2
3
4
5
6
7
8

In [12]:
for i in range(0, len(lst), 1):
    print (i)

0
1
2
3
4
5
6
7
8

In [13]:
for i in range(1, len(lst)+1, 3):
    print (i)

1
4
7

In [14]:
for i,e in enumerate(lst):
    print (i,e)

0 10
1 24
2 3
3 4
4 65
5 6
6 722
7 8
8 9

In [15]:
lst=[]
for i in range(20):
    lst.append(i)
print (lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [16]:
lst=[i for i in range(2,20,2)]
print (lst)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [17]:
a=5
for i in range(5):
    a+=.1
    print (a)

5.1
5.199999999999999
5.299999999999999
5.399999999999999
5.499999999999998

In [18]:
lst_lst=[]
for i in range(0,9,3):
    #print (i)
    lst_lst.append([i+1, i+2, i+3])
print (lst_lst)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [19]:
lst_lst[0]

[1, 2, 3]

In [20]:
lst_lst[0][1]

2

In [21]:
lst_lst=[[i, i+1, i+2] for i in range(1,10,3)]
display(lst_lst)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [22]:
n_lst=[]
for e in lst_lst:
    for f in e:
        n_lst.append(f)
n_lst

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
n_lst=[f for e in lst_lst for f in e]
n_lst

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
lst=[e for e in range(20) if e%2!=0]
lst

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [25]:
lst=[e for e in range(20) if e>4 and e%2==0]
lst

[6, 8, 10, 12, 14, 16, 18]

In [26]:
lst_lst=[[1,2,3,4,5], [6,7,8], [9,10]]
lst=[f for e in lst_lst for f in e if len(e)<4 and f%2==0]
lst

[6, 8, 10]

In [10]:
lst_lst=[[1,2,3,4,5], [6,7,8], [9,10]]
lst=[str(f)+'a' for e in lst_lst if len(e)<4 for f in e if f%2==0]
lst

['6a', '8a', '10a']

In [12]:
lst=[]
for e in lst_lst:
    if len(e)<4:
        for f in e:
            if f%2==0:
                lst.append(str(f)+'a')
                
lst

['6a', '8a', '10a']

In [28]:
lst.append(0)
print (lst)

['6a', '8a', '10a', 0]

In [29]:
print (lst.count(0))

1

In [30]:
lst.extend(lst_lst)

In [31]:
lst

['6a', '8a', '10a', 0, [1, 2, 3, 4, 5], [6, 7, 8], [9, 10]]

In [32]:
lst1=[1,2,3,4,5]
lst2=['a','c','e']

In [33]:
lst1.extend(lst2)
lst1

[1, 2, 3, 4, 5, 'a', 'c', 'e']

In [34]:
P=lst1+lst2
P

[1, 2, 3, 4, 5, 'a', 'c', 'e', 'a', 'c', 'e']

In [35]:
P.index('a')

5

In [36]:
lst1.insert(3, 'hola')
lst1

[1, 2, 3, 'hola', 4, 5, 'a', 'c', 'e']

In [37]:
lst1.pop()
lst1

[1, 2, 3, 'hola', 4, 5, 'a', 'c']

In [38]:
lst1.pop(0)
lst1

[2, 3, 'hola', 4, 5, 'a', 'c']

In [39]:
a=lst1.pop(0)
print (a)
print (lst1)

2
[3, 'hola', 4, 5, 'a', 'c']

In [40]:
lst1.remove('hola')
lst1

[3, 4, 5, 'a', 'c']

In [41]:
c=lst1.remove('hola')
print (c)

ValueError: list.remove(x): x not in list

In [42]:
lst_a=[1,2,3,'a', 5,6,'a']
for i,e in enumerate(lst_a):
    if e=='a':print (i)

3
6

In [43]:
lst_a.reverse()
lst_a

['a', 6, 5, 'a', 3, 2, 1]

In [44]:
lst_c=[8,3,54,60,0,81,6,41,43,4]
lst_c

[8, 3, 54, 60, 0, 81, 6, 41, 43, 4]

In [45]:
lst_c.sort(reverse=False)

In [46]:
lst_c

[0, 3, 4, 6, 8, 41, 43, 54, 60, 81]

In [47]:
lst_c.sort(reverse=True)
lst_c

[81, 60, 54, 43, 41, 8, 6, 4, 3, 0]

In [48]:
# tuplas

letras=('a', 'b', 'c')
for e in letras:
    print (e)

a
b
c

In [49]:
letras.append('d')

AttributeError: 'tuple' object has no attribute 'append'

In [50]:
letras[0]

'a'

In [51]:
letras[3]='d'

TypeError: 'tuple' object does not support item assignment

In [52]:
len(letras)

3

In [53]:
lst=[]
lst.append(letras[0])
lst

['a']

In [54]:
type(letras)

tuple

In [55]:
letras=list(letras)
type(letras)

list

In [56]:
letras=tuple(letras)
type(letras)

tuple

In [57]:
letras.index('a')

0

In [58]:
a=(e for e in range(10))
print (list(a))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
# diccionarios

dict()

{}

In [60]:
d={'a':1, 3:'v'}
d

{'a': 1, 3: 'v'}

In [61]:
d[3]

'v'

In [62]:
lst_dic=[
    {'Nombre':'Juan', 'edad':34, 'trabaja':True},
    {'Nombre':'Ana', 'edad':21, 'trabaja':False}
]

In [63]:
for e in lst_dic:
    if e['trabaja']==True: print (e['Nombre'])

Juan

In [14]:
alumno={
    'nombre':'Juan',
    'apellidos': 'Garcia Diaz',
    'edad':23,
    'altura':180
}

In [15]:
print (alumno)

{'nombre': 'Juan', 'apellidos': 'Garcia Diaz', 'edad': 23, 'altura': 180}

In [16]:
print (alumno['nombre'], alumno['apellidos'])

Juan Garcia Diaz

In [17]:
alumno.keys()

dict_keys(['nombre', 'apellidos', 'edad', 'altura'])

In [18]:
alumno.values()

dict_values(['Juan', 'Garcia Diaz', 23, 180])

In [19]:
type(alumno.values())

dict_values

In [20]:
list(alumno.items())[0]

('nombre', 'Juan')

In [21]:
for e in alumno.items():
    print ('key:', e[0], ', value:',e[1])

key: nombre , value: Juan
key: apellidos , value: Garcia Diaz
key: edad , value: 23
key: altura , value: 180

In [22]:
lst=list(alumno.items())
lst

[('nombre', 'Juan'),
 ('apellidos', 'Garcia Diaz'),
 ('edad', 23),
 ('altura', 180)]

In [24]:
dict(lst)

{'nombre': 'Juan', 'apellidos': 'Garcia Diaz', 'edad': 23, 'altura': 180}

In [25]:
lst1=['a', 'b', 'c']
lst2=[1,2,3]

In [26]:
n_dic2={lst1[i]:lst2[i] for i in range(len(lst1))}
n_dic2

{'a': 1, 'b': 2, 'c': 3}

In [29]:
z=zip(lst1, lst2)
dict(z)

{'a': 1, 'b': 2, 'c': 3}

In [23]:
n_dic={k:v for k,v in lst}
n_dic

{'nombre': 'Juan', 'apellidos': 'Garcia Diaz', 'edad': 23, 'altura': 180}

In [74]:
n_dic={v:k for k,v in lst}
n_dic

{'Juan': 'nombre', 'Garcia Diaz': 'apellidos', 23: 'edad', 180: 'altura'}

In [75]:
key=['a','b','c','d']
value=[1,2,3]

n2_dic={key[i]:value[i] for i in range(len(value))}
n2_dic

{'a': 1, 'b': 2, 'c': 3}

In [76]:
n2_dic.update({'d':4})

In [77]:
n2_dic

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [78]:
nuevos=[{'e':5}, {'f':6}]
for e in nuevos:
    n2_dic.update(e)
n2_dic

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [79]:
n2_dic.popitem()
n2_dic

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [80]:
n2_dic['b']

2

In [81]:
print (n2_dic.get('a'))

1

In [82]:
n2_dic.clear()
n2_dic

{}

In [83]:
# zip

lst_1=[1,2,3,4,5]
lst_2=['a','b','c',8,9,10,19]

In [84]:
list(zip(lst_1,lst_2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 8), (5, 9)]

In [85]:
dict(zip(lst_1,lst_2))

{1: 'a', 2: 'b', 3: 'c', 4: 8, 5: 9}

In [86]:
lst_3=list(zip(lst_1,lst_2))
dict(zip(lst_1,lst_3))

{1: (1, 'a'), 2: (2, 'b'), 3: (3, 'c'), 4: (4, 8), 5: (5, 9)}

In [87]:
for e in zip(lst_1, lst_3):
    print (e)

(1, (1, 'a'))
(2, (2, 'b'))
(3, (3, 'c'))
(4, (4, 8))
(5, (5, 9))

In [88]:
# sets (conjuntos)

lst=[1,2,3,4,44,4,4,4,5,6,7,87,8,8,8]
s=set(lst)
s

{1, 2, 3, 4, 5, 6, 7, 8, 44, 87}

In [89]:
letras=set()
letras.add('a')
print(letras)

{'a'}

In [90]:
letras.add('b')
print(letras)

{'b', 'a'}

In [91]:
letras.remove('a')
print (letras)

{'b'}

In [92]:
set1=set([1,1,3,4,12,33])
set2=set([4,4,1,11,5,7])

In [93]:
union=set1.union(list(set2))
union

{1, 3, 4, 5, 7, 11, 12, 33}

In [94]:
inter=set1.intersection(set2)
inter

{1, 4}

In [95]:
diff=set1-set2
diff

{3, 12, 33}

In [96]:
set1.issubset(set2)

False

In [97]:
set3=set([1,3,12])
set3.issubset(set1)

True

In [98]:
set1.issuperset(set3)

True

In [99]:
set1|set2

{1, 3, 4, 5, 7, 11, 12, 33}

In [100]:
set1&set2

{1, 4}

In [101]:
lst=['a','a','c','d']
set(lst)

{'a', 'c', 'd'}

In [102]:
lst=[True, True, True, False]
set(lst)

{False, True}

In [103]:
lst=[1,1,1,0,1,32,3,3,'a','a','c',True,True, False]
set(lst)

{0, 1, 3, 32, 'a', 'c'}

In [6]:
lst=[]

for i in range(2):
    for j in range(2):
        for k in range(2):
            lst.append([[i,j,k]])

lst

[[[0, 0, 0]],
 [[0, 0, 1]],
 [[0, 1, 0]],
 [[0, 1, 1]],
 [[1, 0, 0]],
 [[1, 0, 1]],
 [[1, 1, 0]],
 [[1, 1, 1]]]

In [8]:
lst=[[[i,j,k]] for i in range(2) for j in range(2) for k in range(2)]
lst

[[[0, 0, 0]],
 [[0, 0, 1]],
 [[0, 1, 0]],
 [[0, 1, 1]],
 [[1, 0, 0]],
 [[1, 0, 1]],
 [[1, 1, 0]],
 [[1, 1, 1]]]