# Funciones

In [1]:
# https://docs.python.org/3/library/functions.html

In [2]:
def suma(a, b, c):
    return a+b+c

In [3]:
print (type(suma))

<class 'function'>

In [4]:
a=suma(2,2,1)
a

5

In [5]:
suma(1,a,3)

9

In [6]:
def suma(a,b):
    c=a+b

In [7]:
print (suma(2,5))

None

In [8]:
def suma(a, b, c=1):
    return a+(b/2)+c

suma(1,2)

3.0

In [9]:
suma(1,2,4)

6.0

In [10]:
suma(c=5, b=4, a=2)

9.0

In [11]:
suma(1, 2, suma(1,2,3))

7.0

In [12]:
# *args, **kwargs

def saluda(nombre, lang='es', colega=True):
    s=''
    
    if colega:
        s='colega!!!'
    
    if lang=='es':
        print ('Hola {} {}'.format(nombre, s))
    
    else:
        print ('Hello {} {}'.format(nombre, s))

In [13]:
saluda('Pepe')

Hola Pepe colega!!!

In [14]:
saluda('Pepe', 'en')

Hello Pepe colega!!!

In [15]:
saluda('Juan', colega=False)

Hola Juan

In [16]:
saluda(['Pepe', 'en'])

Hola ['Pepe', 'en'] colega!!!

In [17]:
saluda(*['Pepe', 'en'])

Hello Pepe colega!!!

In [18]:
def saludo_multiple(*lst, lang='en'):
    for e in lst:
        saluda(e,  lang)

In [19]:
saludo_multiple('Juan', 'Pepe', 'Maria', lang='es')

Hola Juan colega!!!
Hola Pepe colega!!!
Hola Maria colega!!!

In [20]:
def suma(*lst):
    print(lst)
    return sum(*lst)

In [21]:
a=[1,2,3]
suma(a)

([1, 2, 3],)

6

In [22]:
# scope

z=4  # variable global
m=1

def suma(b):
    # b es una variable local
    m=20
    return b+m

In [23]:
print (suma(9))
z

29

4

In [24]:
# **kwargs

def saludo_multiple(*lst, lang='en', vac=True):
    print (lst)
    print (lang)
    print (vac)
    
    if vac:
        print ('üçª')
    
    for e in lst:
        saluda(e, lang)

In [25]:
config={'lang':'es', 'vac':False}

In [26]:
saludo_multiple('Pepe', 'Maria', 'Ana', **config)

('Pepe', 'Maria', 'Ana')
es
False
Hola Pepe colega!!!
Hola Maria colega!!!
Hola Ana colega!!!

In [27]:
def func(*args, **kwargs):
    print (args)
    print (kwargs)

In [28]:
func([1,2,3], config)

([1, 2, 3], {'lang': 'es', 'vac': False})
{}

In [29]:
def suma(a,b,c,d='Juan'):
    print (d)
    return a+b+c

In [30]:
v={'c':1, 'b':3, 'a':3, 'd':'hoy'}
suma(**v)

hoy

7

In [31]:
def func(*args, **kwargs):
    print ('Argumentos posicionales', args)
    print ('Keyword arguments', kwargs)

In [32]:
a=[1,2,3]

func(a,1,2,3,4,juan=33, pepe=45, 
     **{'hola':'pero k pasha', 'nombre':'julia'})

Argumentos posicionales ([1, 2, 3], 1, 2, 3, 4)
Keyword arguments {'juan': 33, 'pepe': 45, 'hola': 'pero k pasha', 'nombre': 'julia'}

In [33]:
v['c']

1

In [34]:
# callback

def nombre_completo(a):
    return '{} {}'.format(a['nombre'], a['apellido'])

In [35]:
def nombre(a):
    return a['nombre']

In [36]:
def saludo_cool(a):
    return 'üòé '+a['nombre']

In [37]:
alumnos=[{'nombre':'Juan', 'apellido':'Lopez Garcia'},
        {'nombre':'Ana', 'apellido':'Rodriguez Perez'},
        {'nombre':'Pepe', 'apellido':'Alvarez Garcia'}]

In [38]:
nombre_completo(alumnos[0])

'Juan Lopez Garcia'

In [39]:
def saluda_alumnos(lst, v):
    for e in lst:
        print ('Hola {}'.format(v(e)))

In [40]:
saluda_alumnos(alumnos, nombre_completo)

Hola Juan Lopez Garcia
Hola Ana Rodriguez Perez
Hola Pepe Alvarez Garcia

In [41]:
saluda_alumnos(alumnos, nombre)

Hola Juan
Hola Ana
Hola Pepe

In [42]:
saluda_alumnos(alumnos, saludo_cool)

Hola üòé Juan
Hola üòé Ana
Hola üòé Pepe

# Generadores

In [43]:
def listin():
    t=['1004', '112', '455566' ,'667885']
    print ('Pepe')
    
    for e in t:
        print ('Hola')
        yield '(+52) '+e

In [44]:
print (type(listin()))

<class 'generator'>

In [45]:
for e in listin():
    print ('Telefono'+e)

Pepe
Hola
Telefono(+52) 1004
Hola
Telefono(+52) 112
Hola
Telefono(+52) 455566
Hola
Telefono(+52) 667885

In [46]:
list(listin())

Pepe
Hola
Hola
Hola
Hola

['(+52) 1004', '(+52) 112', '(+52) 455566', '(+52) 667885']

In [47]:
for i in range(0, 20, 5):
    print (i)

0
5
10
15

In [48]:
def rang(*args): # range(start, stop, step)
    
    if len(args)==1:
        stop=args[0]
        start=0
        step=1
        
    elif len(args)==2:
        start=args[0]
        stop=args[1]
        step=1
        
    else:
        start=args[0]
        stop=args[1]
        step=args[2]
        
    
    while start<stop:
        yield start
        start+=step

In [49]:
list(rang(0, 5, 0.5))

[0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5]

In [50]:
# Strings

lst=['Hola', 'me', 'llamo', 'Pepe']
'üêô'.join(lst)

'HolaüêômeüêôllamoüêôPepe'

In [51]:
def genFn():
    for i in range(10):
        yield (i)

In [52]:
'üêô'.join([str(i) for i in genFn()])

'0üêô1üêô2üêô3üêô4üêô5üêô6üêô7üêô8üêô9'

In [53]:
texto='üêô'.join(lst)
texto.split('üêô')

['Hola', 'me', 'llamo', 'Pepe']

In [54]:
if texto.startswith('Ho'):
    print ('correcto')
else:
    print ('mal')

correcto

In [55]:
if texto.endswith('pe'):
    print ('correcto')
else:
    print ('mal')

correcto

In [56]:
texto.capitalize()

'Holaüêômeüêôllamoüêôpepe'

In [57]:
texto.upper()

'HOLAüêôMEüêôLLAMOüêôPEPE'

In [58]:
texto.lower()

'holaüêômeüêôllamoüêôpepe'

In [59]:
d='''               I have a tendency to leave spaces , have       '''

In [60]:
d

'               I have a tendency to leave spaces , have       '

In [61]:
d.lstrip()

'I have a tendency to leave spaces , have       '

In [62]:
d.rstrip()

'               I have a tendency to leave spaces , have'

In [63]:
d.strip()

'I have a tendency to leave spaces , have'

In [64]:
d.replace('have', 'tengo')

'               I tengo a tendency to leave spaces , tengo       '

In [65]:
d.replace('\n', '')

'               I have a tendency to leave spaces , have       '

In [66]:
for e in d.strip():
    print (e)

I

h
a
v
e

a

t
e
n
d
e
n
c
y

t
o

l
e
a
v
e

s
p
a
c
e
s

,

h
a
v
e

In [67]:
d.strip()[0]

'I'

In [68]:
len(d)

62

# REGEX

In [69]:
# https://regex101.com/

import re

In [70]:
texto='My   neighbor, Mr @ üòé Rogeneighrs, has 5 55 123 dogs.'

In [71]:
re.findall('neigh', texto)

['neigh', 'neigh']

In [72]:
# n¬∫ letras en el texto
len(''.join(re.findall('[a-zA-Z]', texto)))

30

In [73]:
''.join(re.findall('[a-zA-Z]', texto))

'MyneighborMrRogeneighrshasdogs'

In [74]:
''.join(re.findall('\W', texto))

'   ,  @ üòé ,     .'

In [75]:
len(''.join(re.findall('[^a-zA-Z]', texto)))

23

In [76]:
''.join(re.findall('[^a-zA-Z]', texto))

'   ,  @ üòé ,  5 55 123 .'

In [77]:
# numeros

re.findall('\d', texto)

['5', '5', '5', '1', '2', '3']

In [78]:
re.findall('\d+', texto)

['5', '55', '123']

In [79]:
re.findall('[0-9]', texto)

['5', '5', '5', '1', '2', '3']

In [80]:
re.findall('[0-9]+', texto)

['5', '55', '123']

In [81]:
# sustitucion

re.sub(' +', '!', texto)
# re.sub(patron, reemplazo, texto)

'My!neighbor,!Mr!@!üòé!Rogeneighrs,!has!5!55!123!dogs.'

In [82]:
re.sub('e', '!', texto)

'My   n!ighbor, Mr @ üòé Rog!n!ighrs, has 5 55 123 dogs.'

In [83]:
re.sub('\d', '!', texto)

'My   neighbor, Mr @ üòé Rogeneighrs, has ! !! !!! dogs.'

In [84]:
re.sub('\d+', '!', texto)

'My   neighbor, Mr @ üòé Rogeneighrs, has ! ! ! dogs.'

In [85]:
nuevo=re.sub(' ', '+', texto)
nuevo

'My+++neighbor,+Mr+@+üòé+Rogeneighrs,+has+5+55+123+dogs.'

In [86]:
re.sub('[+]', ' ', nuevo)

'My   neighbor, Mr @ üòé Rogeneighrs, has 5 55 123 dogs.'

In [87]:
re.sub('\+', ' ', nuevo)

'My   neighbor, Mr @ üòé Rogeneighrs, has 5 55 123 dogs.'

In [88]:
tlf='+ 52 55 5355 9393'

In [89]:
re.sub(' 55', '49', tlf)

'+ 5249 5355 9393'